
body {
    font-family: "Roboto";
    font-size: 16px;
    color: white;
    background-image: url("images/blackLeatherBack.jpg");
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 1000px;
}

h1{
    color: yellow;
}
.title{
    width: 300px;
    font-family: "Roboto";
    font-size: 24px;
    margin-bottom: 10px;
    color: yellow;
}
.submittedBy{
    width: 300px;
    font-family: "Roboto";
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
}
.category{
    width: 300px;
    margin-bottom: 10px;
    font-family: "Roboto";
    color: white;
    
}
.ingredients{
    width: 300px;
    margin-bottom: 10px;
    font-family: "Roboto";
    color: black;
    white-space: pre-line;
    border-radius: 10px;
    border: none;
    background-color: linen;
    height: auto;
    padding: 10px;
}
.instructions{
    width: 300px;
    margin-bottom: 10px;
    font-family: "Roboto";
    color: black;
    white-space: pre-line;
    border-radius: 10px;
    border: none;
    background-color: linen;
    height: auto;
    padding: 10px;
}
.titleEdit{
    width: 300px;
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
    font-family: "Roboto";
}
.categoryEdit{
    width: 300px;
    margin-bottom: 10px;
    color: black;
    font-family: "Roboto";
}
.ingredientsEdit{
    width: 300px;
    margin-bottom: 10px;
    font-family: "Roboto";
}
.instructionsEdit{
    width: 300px;
    margin-bottom: 10px;
    font-family: "Roboto";
}
.spacer{
    height: 20px;
}

a:hover{
    text-decoration: none;
    color: yellow;
    font-size: 18px;
}
a:active{
    text-decoration: none;
    color: yellow;
}
a:visited{
    text-decoration: none;
    color: yellow;
}
a:link{
    text-decoration: none;
    color: yellow;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    align-content: space-between;
    width: 500px;
    height: auto;
    background-color: gray;
    border-radius: 20px;
    padding: 20px;
    
}

ul {
    list-style: none;
    padding: 5px;
}
  
li {
    margin: 5px;
    padding: 5px;
}       

textarea {
    border: none;
    outline: none;
    resize: none;
    font-family: "Roboto";
}
/* 

.horizontalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    width: 300px;
    height: 40px
    }
    

    