<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/app.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <h1>Sign Up</h1>

    <form action="/auth/signup" method="POST">
      First Name: <input type="text" name="firstname" /><br />
      <br />
      Last Name: <input type="text" name="lastname" /><br />
      <br />
      email: <input type="text" name="email" /><br />
      <br />
      Username: <input type="text" name="username" /> <br />
      <br />
      Password: <input type="password" name="password" /><br />
      <br />
      <input type="submit" value="SignUp" />
    </form>
  </body>
</html>
