<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Recipe Share</title>
  </head>

  <body>
    <h1>Add a new recipe!</h1>
    <nav>
      <% if(!cookieId){%><a href="/auth/signup">Sign Up  ||<% } %></a>
      <% if(!cookieId){%><a href="/auth/login">Log In  ||<% } %></a>
      <a href="/auth/logout">Log Out  ||</a>
      <a href="/users/profile/<%=cookieId%>">My Profile</a>
    </nav>
    <div class="spacer"></div>
    <div class="container">
      
      <form action="/recipes" method="POST">
        <div><input type="text" name="title" class="titleNew" placeholder="Your Recipe Title" /></div>
            <div>
                <select name="category">
                  <option value=""><== Choose One Category ==>></option>
                  <option value="Entree">Entree</option>
                  <option value="Casserole">Casserole</option>
                  <option value="Side Dish">Side Dish</option>
                  <option value="Appetizer">Appetizer</option>
                  <option value="Dessert">Dessert</option>
                  <option value="Salad">Salad</option>
                </select></div>
                <div class="spacer"></div>
              <div ><textarea class="ingredients"rows="10" cols="50" name="ingredients" placeholder="Recipe Ingredients" ></textarea></div>
              <div ><textarea class="instructions" rows="10" cols="50" name="instructions" placeholder="Recipe Insructions" ></textarea></div>
            <div><input type="submit" name="" value="Add Recipe" /><div>
      </form>
    </div>
  </body>
</html>


