<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <title></title>
  </head>

  <body>
    <h1>Add a new recipe!</h1>
    <div class="verticleContainer">
      <form action="/recipes" method="POST">
        <div>Title <input type="text" name="title" /></div>
          <div>Description: <input type="text" name="description" /></div>
            <div>Category: 
                <select name="category">
                  <option value="Entree">Entree</option>
                  <option value="Entree">Casserole</option>
                  <option value="Entree">Side Dish</option>
                  <option value="Entree">Appetizer</option>
                  <option value="Entree">Dessert</option>
                  <option value="Entree">Salad</option>
                </select></div>
            <div class="ingredients"> 
              <div class="ingredients">Ingredients<textarea rows="10" cols="50" name="ingredients"></textarea>
              <div class="instructions">Instructions<textarea rows="10" cols="50" name="instructions"></textarea></div>
            <div><input type="submit" name="" value="Add Recipe" /><div>
      </form>
    </div>
  </body>
</html>
