<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/app.css" />
  </head>

  <body>
    <h1>Fruits index page</h1>
    <div class="back">
      <nav>
        <a href="/fruits/new">Create a New Fruit</a>
      </nav>
    </div>
    <div class="back">
      <ul>
        <% for(let i = 0; i < fruits.length; i++){ %>
        <li>
          <a href="/fruits/<%=fruits[i].id%>"><%= fruits[i].name %></a>
          <form action="/fruits/<%= fruits[i].id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
          </form>
          <a href="/fruits/<%= fruits[i].id%>/edit">Edit</a>
        </li>
        <% }; %>
      </ul>
    </div>
  </body>
</html>
